.info-main {
    width: 80%;
    margin: 50px 0px 0px 200px;
}
.current-book {
    height: 400px;
    width: 64%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 2.5%; 
}
/* .current-book > div {
    border: 1px solid black;
} */
.read-cover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: inherit;
}
.read-cover img {
    height: 100%;
    width: 100%;
}
.read-des {
    margin: 0px 0px 0px 0px;
}
.read-des h2 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    margin: 0px 0px 10px 0px;
    color: #000000;
}
.rate-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 20px;
    color: #000000;
}
.rate-price {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 25px;
    color: #7E9E47;
    margin: 30px 0px 30px 0px;
}
.review-title {
    height: 25px;
    border-bottom: 1px solid black; 
}
.review-title > h3 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #000000;
    margin: 0px 0px 20px 0px;
}
.rating-review {
    height: 12px;
    width: 50%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10%;
}
.rating-review p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    margin-top: 10px;
}
.book-des {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #000000;
    margin: 20px 0px 0px 0px;
}
.button-rating {
    height: 45px;
    width: 60%;
    margin: 0px 0px 30px 0px;
    display: grid;
    grid-template-columns: 50% 23%;
    grid-gap: 13%;
}
.button-rating img {
    height: 80%;
    width: 100%;
}
.button-rating span {
    margin: -30px 0px 0px 30px;
    background: #626A71;
}
.book-ratings {
    display: inline;
    padding-top: 2px;
}
.buy-book-btn {
    height: 45px;
    background: #85A64B;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 15px;
}