.reader-container {
    background: #F2F4F0;
    width: 100%;
    padding-top: 50px;
}
/* .react-pdf__Document{
    width: 100%;
    height: 55px;
    border: 1px solid red;
}
.react-pdf__Page__annotations annotationLayer{
    width: 100%;
    height: 95%;
    border: 1px solid blue;
    display: none !important;
} */

.readScreen{
    width: 50% !important;
    height: 100% !important;
    background: #fff !important;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 60% 20%; 
}
.read-seek {
    width: 40px !important;
    margin-top: 10px;
}
.readscreen>divs{
    border: 1px solid #000;
}
canvas {
    height: 100% !important;
    width: 100% !important;
    box-shadow: 1px -2px 7px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin: auto;
}
.bookProgress {
    width: 50%;
    height: 50px;
    position: fixed;
    bottom: -7px;
    background: #fff;
}
.book-bar{
    margin: -5px 0px 0px 4px;
    width: 99%;
    height: 10px;
}

.pageNumber{
    width: 100%;
    height: 32px;
    padding-top: 2px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 19px;
    text-align: center;
    background: #fff;
}
.progressBar{
    width: 100%;
    height: 15px;
    border-radius: 8px;
    background: #C4C4C4;
}
.previous-btn{
    width: 45px;
    height: 45px;
    margin-left: 3%;
    margin-top: 13%;
    border-radius: 50px;
    position: fixed;
    background: #7E9E47;
    cursor: pointer;
    box-shadow: 0px 6px 5px rgb(89, 117, 39);
}

.next-btn{
    width: 45px;
    height: 45px;
    margin-left: 3%;
    margin-top: 13%;
    border-radius: 50px;
    position: fixed;
    background: #7E9E47;
    cursor: pointer;
    box-shadow: 0px 6px 5px rgb(89, 117, 39);
}

.next-btn:active{
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgb(89, 117, 39);
}

.previous-btn:active{
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgb(89, 117, 39);
}

.comment-btn{
    width: 70px;
    height: 70px;
    margin-left: 1.4%;
    margin-top: 29%;
    border-radius: 50px;
    position: fixed;
}
.ikenga{
    width: 47px;
    height: 35.94px;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
}

.ikenga-btn{
    width: 52px;
    height: 52px;
    border: 2px solid rgba(126, 158, 71, 0.77);
    margin-left: 35px;
    margin-top: 23%;
    border-radius: 35px;
    position: fixed;
    cursor: pointer;
    background: #fff;
}

.ikenga-btn:active{
    animation-name: rubberBand;
    animation-duration: .75s;
}

.counter{
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
    position: fixed;
    margin-top: 20%;
    margin-left: 36px;
    background: #7E9E47;
}
.comment-image{
    width: 39px;
    height: 40.99px;
    margin: 14px 0px 0px 23px;
    cursor: pointer;
}

.comment-image:active{
    display: none;
} 
.prev-arrow{
    width: 17px;
    height: 25.28px;
    margin: 10px 0px 0px 11px;
    cursor: pointer;
}
.next-arrow{
    width: 17px;
    height: 25.28px;
    margin: 11px 0px 0px 17px;
    cursor: pointer;
}




/* Modal */

.modal-dialog {
    width: 364px;
    margin: 200px auto;
    background-image: none;
    background: rgb(202, 202, 201);
}

.modalText{
    width: 334px;
    border-radius: 4px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
.modal-header {
    padding: 15px;
    height: 81px;
    border: none;
}
.modal-title {
    margin: 0;
    line-height: 1.428571;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.submit{
    width: 145px;
    height: 37px;
    padding-top: 8px;
    margin-right: 40px;
    background-image: none;
    border-radius: none;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0px;
    background-color: #85A64B;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    color: #FFFFFF;
    box-shadow: 0px 3px rgb(24, 94, 7);
}
.closeBtn{
    width: 145px;
    height: 37px;
    padding-top: 8px;
    background-image: none;
    border-radius: none;
    border: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    color: #FFFFFF;
    margin-right: -4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0px;
    background-color: #626A71;
    box-shadow: 0px 3px #3B4044;
}
.modal-backdrop{
    background-color: none;
}
.ikengaModal{
    width: 65.22px;
    height: 52.71px;
}
.logo-container{
    width: fit-content;
    height: fit-content;
    margin: auto;
    background: none;
}





    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {opacity:0} 
        to {opacity:1}
    }
    
    @keyframes animatetop {
        from {opacity:0}
        to {opacity:1}
    }
    
  /* animation */


  @keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 1.25, 1);
	}

	40% {
		transform: scale3d(1.25, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 1.15, 1);
	}

	65% {
		transform: scale3d(.95, .95, 1);
	}

	75% {
		transform: scale3d(.95, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}