.reader-container {
    background: #F2F4F0;
    width: 100%;
    padding-top: 50px;
}
/* .react-pdf__Document{
    width: 100%;
    height: 55px;
    border: 1px solid red;
}
.react-pdf__Page__annotations annotationLayer{
    width: 100%;
    height: 95%;
    border: 1px solid blue;
    display: none !important;
} */

.react-pdf__Page__textContent{
    display: none !important;
}

.react-pdf__Page__textContent > div{
    display: none !important;
}

.readScreen {
    width: 100% !important;
    height: 100% !important;
    background: #fff !important;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
.read-seek {
    width: 40px !important;
    margin-top: 10px;
}
.footer-backdrop{
    height: 100px;
    width: 100%;
    z-index: 1;
    bottom: -8%;
    background: #fff;
    position: fixed;
}
.readscreen>divs{
    border: 1px solid #000;
}
canvas {
    height: 100% !important;
    width: 100% !important;
    box-shadow: 1px -2px 7px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin: auto;
}
.bookProgress {
    width: 50%;
    height: 50px;
    position: fixed;
    bottom: -7px;
    background: #fff;
}
.book-bar{
    margin: -5px 0px 0px 4px;
    width: 99%;
    height: 10px;
}

.pageNumber{
    width: 100%;
    height: 32px;
    padding-top: 2px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 19px;
    text-align: center;
    background: #fff;
}
.progressBar{
    width: 100%;
    height: 15px;
    border-radius: 8px;
    background: #C4C4C4;
}
.previous-btn{
    width: 45px;
    height: 45px;
    margin-left: 3%;
    margin-top: 13%;
    border-radius: 50px;
    position: fixed;
    background: #7E9E47;
    cursor: pointer;
    box-shadow: 0px 6px 5px rgb(89, 117, 39);
}

.next-btn{
    width: 45px;
    height: 45px;
    margin-left: 3%;
    margin-top: 13%;
    border-radius: 50px;
    position: fixed;
    background: #7E9E47;
    cursor: pointer;
    box-shadow: 0px 6px 5px rgb(89, 117, 39);
}

.next-btn:active{
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgb(89, 117, 39);
}

.previous-btn:active{
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgb(89, 117, 39);
}

.comment-btn{
    width: 70px;
    height: 100px;
    margin-left: 1.4%;
    margin-top: 29%;
    border-radius: 50px;
    position: fixed;
}

.ikenga{
    width: 47px;
    height: 35.94px;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
}

.ikenga-btn{
    width: 52px;
    height: 52px;
    border: 2px solid rgba(126, 158, 71, 0.77);
    margin-left: 35px;
    margin-top: 23%;
    border-radius: 35px;
    position: fixed;
    cursor: pointer;
    background: #fff;
}

.ikenga-btn:active{
    animation-name: rubberBand;
    animation-duration: .75s;
}

.counter{
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    line-height: 2.3;
    font-size: 15px;
    border-radius: 20px;
    position: fixed;
    margin-top: 20%;
    margin-left: 36px;
    background: #7E9E47;
}
.comment-image{
    width: 39px;
    height: 40.99px;
    margin: 14px 0px 0px 23px;
    cursor: pointer;
}

.comment-image:active{
    display: none;
} 
.prev-arrow{
    width: 17px;
    height: 25.28px;
    margin: 7px 0px 0px 8px;
    cursor: pointer;
}
.next-arrow{
    width: 17px;
    height: 25.28px;
    margin: 8px 0px 0px 14px;
    cursor: pointer;
}




/* Modal */

.modal-dialog {
    width: 364px;
    margin: 200px auto;
    background-image: none;
    background: rgb(202, 202, 201);
}

.modalText{
    width: 334px;
    border-radius: 4px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
.modal-header {
    padding: 15px;
    height: 81px;
    border: none;
}
.modal-title {
    margin: 0;
    line-height: 1.428571;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.submit{
    width: 145px;
    height: 37px;
    padding-top: 8px;
    margin-right: 40px;
    background-image: none;
    border-radius: none;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0px;
    background-color: #85A64B;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    color: #FFFFFF;
    box-shadow: 0px 3px rgb(24, 94, 7);
}
.closeBtn{
    width: 145px;
    height: 37px;
    padding-top: 8px;
    background-image: none;
    border-radius: none;
    border: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    color: #FFFFFF;
    margin-right: -4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0px;
    background-color: #626A71;
    box-shadow: 0px 3px #3B4044;
}
.modal-backdrop{
    background-color: none;
}
.ikengaModal{
    width: 65.22px;
    height: 52.71px;
}
.logo-container{
    width: fit-content;
    height: 55px !important;
    margin: auto;
    background: none !important;
}

@media (min-width: 280px){
    .readScreen {
        display: grid;
        grid-template-columns: 0% 100% 0%;
    }    
    .next-btn {
        width: 38px;
        height: 38px;
        margin-left: -12%;
        bottom: 4px;
        border-radius: 50px;
        z-index: 3;
        position: fixed;
        background: #7E9E47;
        cursor: pointer;
        -webkit-box-shadow: 0px 6px 5px rgb(89, 117, 39);
        box-shadow: 0px 6px 5px rgb(89, 117, 39);
    }
    .previous-btn {
        width: 39px;
        height: 38px;
        margin-left: 3%;
        bottom: 4px;
        z-index: 2;
        border-radius: 25px;
        position: fixed;
        background: #7E9E47;
        cursor: pointer;
        -webkit-box-shadow: 0px 6px 5px rgb(89, 117, 39);
        box-shadow: 0px 6px 5px rgb(89, 117, 39);
    }
    .bookProgress {
        width: 36%;
        height: 20px;
        position: fixed;
        z-index: 2;
        bottom: 48px;
        left: 100px ;
        background: #fff;
    }
    .pageNumber {
        width: 100%;
        height: inherit;
        padding-top: 0;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 15px;
        text-align: center;
    }
    .ikenga-btn {
        width: 34px;
        height: 33px;
        border: 2px solid rgba(126, 158, 71, 0.77);
        margin-left: 23%;
        bottom: 4px;
        z-index: 2;
        border-radius: 35px;
        position: fixed;
        cursor: pointer;
        background: #fff;
    }
    .ikenga {
        width: 29px;
        height: 22.94px;
        margin: 4px 0px 0px 0px;
        cursor: pointer;
    }
    .comment-btn {
        width: 10%;
        height: 30px;
        z-index: 2;
        margin-left: 44%;
        bottom: 5px;
        position: fixed;
    }
    .seeker{
        width: 30%;
        height: 30px;
        z-index: 2;
        margin-left: 59%;
        bottom: 5px;
        position: fixed;
    }
    .comment-image {
        width: 34px;
        height: 33px;
        display: inline-block;
        cursor: pointer;
        margin: 0px 0px 0px -8px;
    }
    .read-seek {
        margin-left: 0%;
        margin-top: 0px;
    }
    
    .counter {
        width: 21px;
        height: 21px;
        color: #fff;
        text-align: center;
        line-height: 2;
        font-size: x-small;
        border-radius: 20px;
        position: fixed;
        z-index: 2;
        bottom: 45px;
        margin-left: 25%;
        background: #7E9E47;
    }
    .modal-dialog {
        width: 300px;
        margin: 95px auto;
    }
    .submit {
        width: 115px;
        margin-right: 37px;
    }
    .closeBtn {
        width: 115px;
    }
    .modalText {
        width: 270px;
    }
    
}
@media (min-width: 320px){
    .ikenga-btn{
        margin-left: 23%;
    }
    .comment-btn {
        width: 10%;
        height: 30px;
        z-index: 2;
        margin-left: 44%;
        bottom: 5px;
    }
    .seeker{
        width: 30%;
        height: 30px;
        z-index: 2;
        margin-left: 56%;
        bottom: 5px;
        position: fixed;
    }
    .bookProgress{
        left: 35%;
    }
    .read-seek {
        margin-left: 16%;
    }
    .counter {
        margin-left: 25%;
        z-index: 3;
    }
    .next-btn{
        margin-left: -12%;
    }
}
@media (min-width: 427px){
    .ikenga-btn{
        margin-left: 23%;
    }
    .comment-btn {
        width: 10%;
        height: 30px;
        z-index: 2;
        margin-left: 44%;
        bottom: 5px;
        position: fixed;
    }
    .seeker{
        width: 30%;
        height: 30px;
        z-index: 2;
        margin-left: 50%;
        bottom: 5px;
        position: fixed;
    }
    .bookProgress{
        left: 35%;
    }
    .read-seek {
        margin-left: 38%;
    }
    .counter {
        margin-left: 25%;
        z-index: 3;
    }
}

@media (min-width: 500px){
    .ikenga-btn{
        margin-left: 23%;
    }
    .comment-btn {
        width: 10%;
        height: 30px;
        z-index: 2;
        margin-left: 44%;
        bottom: 5px;
        position: fixed;
    }
    .seeker{
        width: 30%;
        height: 30px;
        z-index: 2;
        margin-left: 62%;
        bottom: 5px;
        position: fixed;
    }
    .bookProgress{
        left: 145px;
    }
    .read-seek {
        margin-left: 0%;
    }
    .counter {
        margin-left: 25%;
        z-index: 3;
    }
}


@media (min-width: 712px){
    .readScreen {
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }
    .footer-backdrop {
        display: none;
    }
    .read-seek {
        width: 40px !important;
        margin-top: 0px;
        margin-left: 0%;
    }
    .ikenga-btn{
        bottom: 215px;
        margin-top: 23%;
    }
    .bookProgress {
        width: 50%;
        height: 50px;
        position: fixed;
        bottom: -7px;
        background: #fff;
    }
    .book-bar{
        margin: -5px 0px 0px 4px;
        width: 99%;
        height: 10px;
    }
    
    .pageNumber{
        width: 100%;
        height: 32px;
        padding-top: 2px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 19px;
        text-align: center;
        background: #fff;
    }
    .progressBar{
        width: 100%;
        height: 15px;
        border-radius: 8px;
        background: #C4C4C4;
    }
    .previous-btn{
        width: 45px;
        height: 45px;
        margin-left: 3%;
        bottom: 56%;
        border-radius: 50px;
        position: fixed;
        background: #7E9E47;
        cursor: pointer;
        box-shadow: 0px 6px 5px rgb(89, 117, 39);
    }
    
    .next-btn{
        width: 45px;
        height: 45px;
        margin-left: 3%;
        bottom: 56%;
        border-radius: 50px;
        position: fixed;
        background: #7E9E47;
        cursor: pointer;
        box-shadow: 0px 6px 5px rgb(89, 117, 39);
    }
    
    .next-btn:active{
        width: 40px;
        height: 40px;
        box-shadow: 0px 2px 5px rgb(89, 117, 39);
    }
    
    .previous-btn:active{
        width: 40px;
        height: 40px;
        box-shadow: 0px 2px 5px rgb(89, 117, 39);
    }
    
    .comment-btn{
        width: 42px;
        height: 43px;
        margin-left: 2%;
        bottom: 25%;
        border-radius: 50px;
        position: fixed;
    }
    .seeker{
        width: 5%;
        height: 30px;
        z-index: 2;
        margin-left: 2%;
        bottom: 18%;
    }

    .ikenga{
        width: 47px;
        height: 35.94px;
        margin: 5px 0px 0px 0px;
        cursor: pointer;
    }
    
    .ikenga-btn{
        width: 52px;
        height: 52px;
        border: 2px solid rgba(126, 158, 71, 0.77);
        margin-left: 11px;
        margin-top: 23%;
        border-radius: 35px;
        position: fixed;
        cursor: pointer;
        background: #fff;
    }
    
    .ikenga-btn:active{
        animation-name: rubberBand;
        animation-duration: .75s;
    }
    
    .counter{
        width: 28px;
        height: 29px;
        color: #fff;
        text-align: center;
        line-height: 2;
        font-size: 15px;
        border-radius: 20px;
        position: fixed;
        bottom: 270px;
        margin-left: 22px;;
        background: #7E9E47;
    }
    .comment-image{
        width: 39px;
        height: 40.99px;
        margin: 6px 0px 0px 1px;
        cursor: pointer;
    }
    
    .comment-image:active{
        display: none;
    } 
    .prev-arrow{
        width: 17px;
        height: 25.28px;
        margin: 7px 0px 0px 8px;
        cursor: pointer;
    }
    .next-arrow{
        width: 17px;
        height: 25.28px;
        margin: 8px 0px 0px 14px;
        cursor: pointer;
    }
}


    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {opacity:0} 
        to {opacity:1}
    }
    
    @keyframes animatetop {
        from {opacity:0}
        to {opacity:1}
    }
    
  /* animation */


  @keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 1.25, 1);
	}

	40% {
		transform: scale3d(1.25, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 1.15, 1);
	}

	65% {
		transform: scale3d(.95, .95, 1);
	}

	75% {
		transform: scale3d(.95, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}