.footer {
    margin-top: 20px;
    margin-bottom: -20px ;
    height: 200px;
    width: 100%;
    background-color: #626A71;
    display: grid;
    grid-template-rows: 80% 20%;
    padding: 0
}
.footer-top-contents {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 23% 18% 18% 18% 23%
}
.footer-logo {
    width: 170px;
    height: 42.74px;
    margin: 50px 0px 0px 100px;
}
.footer-icon {
    height: 146px;
    width: 260px;
    margin: 0px 0px 0px 0px;
}
.footer-top-contents h5 {
    font-size: 16px;
    font-weight: bold;
    color: #F2F4F0;
    font-family: 'Roboto', sans-serif;
    margin-left: 40px;
}
.footer-top-contents p {
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-left: 40px;
}
.footer-top-contents a {
    color: #FFFFFF;
    margin-left: 40px;
}
.footer-bottom-contents {
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: 1px solid #2F3337;
}
.fb-twitter img {
    width: 25px;
    height: 27px;
    margin-left: 20px;
}
.footer-bottom-contents p {
    font-size: 14px;
    color: #F2F4F0;
    font-family: 'Roboto', sans-serif;
    margin: 15px 0px 0px 64px;
    margin-left: 40px;
}
.about-footer {
    padding: 27px 0px 0px 5px;
}
.contact-footer {
    padding: 27px 0px 0px 30px;
}
.contact-no {
    margin-top: 15px;
}
.nav-footer {
    padding: 27px 0px 0px 90px;
}
.nav-footer a {
    margin-top: 30px;
}
.footer-bottom-copy {
    padding: 10px 0px 5px 50px;
}
.footer-bottom-copy >p {
    margin: 0
}
.fb-twitter {
    padding: 5px 0px 0px 440px;
}