.footer {
    margin-top: 20px;
    margin-bottom: -20px ;
    height: 200px;
    background-color: #626A71;
}
.footer img {
    margin-left: 46px;
}
.rights {
    margin-top: 20px;
}
.rights p {
    font-size: 13px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}
.links {
    font-size: 13px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}
.footer-top {
    height: 149.5px;
    border-bottom: 1px solid black
}