.home-books {
    background-color: white;
    margin-top: -30px;
}
.behind {
    width: 100%;
    height: 480px;
    position: absolute;
    top: 915px;
    background-color: #258043;
}
.shelf {
    width: 1141px;
    margin: 233px 0px 0px 120px; 
}
.above {
    position: relative;
}
.wrapper {
    height: 312px;
    width: 204px;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */
    margin-left: 30px;
    /* box-shadow: 2px 2px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background-color: #FFFFFF;
}
.wrapper:hover {
    background: rgba(0, 0, 0, 0.25);
    border-top: 1px solid #d0d0d0;
}
.show-grid {
    margin-top: 70px;
}
.new-release-books {
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.25);
    /* border-top: 1px #258043; */
}
.books-jgp {
    height: 20px;
    width: 20px;
}
.span {
    height: 18px;
    width: 130px;
    background-color: #000000;
}
in-line {
    display: inline-block;
}
.head {
    display: inline-block;
    width: 350px;
    margin-left: 17px;
    margin-top: 59px;
}
.span-title {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-top: -3px;
}
.new-release-color {
    color: #FFFFFF;
}
.new-release-background {
    background-color: #FFFFFF;
}
.head-below {
    margin-top: 70px;
}
.books-top {
    width: inherit;
    height: 80%;
}
.books-bottom {
    height: 20%;
    width: 100%;
    margin: auto;
    display: -webkit-inline-box;
}
.image-container {
    height: 100%;
    width: 85%;
    margin: auto;
}
.image-container img {
    width: 100%;
    height: 100%;
}
.book-title {
    width: 75%;
    height: 100%;
}
.book-price {
    width: 25%;
    height: 100%;
}
.book-title > span {
    text-align: left;
    display: block;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
.book-buttons {
    background-color: #585249;
    background-image: none;
    background-color: #585249;
    border-radius: 2px;
    width: 34px;
    height:  21px;
    margin-top: 20px;
}
.cart-books {
    width: 17px;
    height: 17px;
    margin-top: -15px;
    margin-left: -3px; 
}
.title {
    font-weight: bold;
}
.author {
    font-weight: lighter;
}
.price {
    color: #7E9E47;
    font-size: 14px;
}