.info-background {
    width: 100%;
    height: 250px;
    margin-top: -20px;
    background: url("./Assets/InfoHeader.svg");
    background-position: center;
    background-size: 100%;
}
.info-background > h2 {
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: #FFFFFF;
    margin-top: 40px; 
}
.info-background > p {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: #FFFFFF;
    margin-top: 0px;
}
.info-background > img {
    margin-left: 500px;
}
.privacy-policy-contents {
    width: 75%;
    height: auto;
    margin: auto;
}
.privacy-policy-contents  h1   {
    color: #484545;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.privacy-policy-contents p {
    color: #484545;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
.privacy-policy-contents a {
    color: #484545;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
.privacy-policy-contents h2 {
    color: #484545;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.privacy-policy-contents  h3   {
    color: #484545;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.privacy-policy-contents h4 {
    color: #484545;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.mission-container {
    display: grid;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    grid-template-columns: 20% 55%;
    grid-gap: 20%;
}
.mission-container h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 30px;
    font-size: 30px;
    color: #7E9E47;
    text-align: center;
}
.mission-container {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: #484545;
    text-align: justify;
}
.location {
    width: 100%;
    height: 340px;
    background: #F2F4F0;
}
.our-team-container {
    height: 470px;
    width: 100%;
    padding-top: 20px;
}
.our-team-container h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    color: #7E9E47;
    text-align: center;
    margin-bottom: 60px
}
.profiles {
    height: 60%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-column-gap: 12%;
}
.profile-image-container {
    width: 65%;
    height: 65%;
    border-radius: 50%;
    position: relative;
    margin: auto;
    background: url("./Assets/Ibe.jpg");
    background-size: 100% 100%;
}
.bimage1 {
    background: url("./Assets/Ibe.jpg");
    background-size: 100% 100%;
}
.bimage2 {
    background: url("./Assets/Iheanyi.JPG");
    background-size: 100% 100%;
}
.bimage3 {
    background: url("./Assets/Nonso.jpg");
    background-size: 100% 100%;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
}
.profile-description-container {
    width: 100%;
    height: 65%;
    margin: -75px 0px 0px 0px;
    background: linear-gradient(180deg, #E5E5E5 0%, #F2F4F0 100%);
    border-radius: 8px;
    text-align: center;
    padding-top: 80px
}
.profile-description-container > p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #000000;
    margin-bottom: 15px
}
.profile-description-container >h5 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #626A71;
}
.location-position {
    width: 45%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 55%;
    grid-gap: 5%;
    padding-top: 50px; 
}
.location-position img {
    width: 227.78px;
    height: 225.56px;
}
.location-position h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 30px;
    font-size: 30px;
    color: #7E9E47;
}
.location-position p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #484545;
}
.get-in-touch {
    height: 261px;
    width: 100%;
    background: #585249;
    text-align: center;
    padding-top: 50px;
    margin-bottom: -20px;  
}
.get-in-touch h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    margin-bottom: 40px;
    color: #FFFFFF;
}
.get-in-touch button {
    width: 200px;
    height: 40px;
    padding-top: 2px; 
    background: rgba(88, 82, 73, 0.5);
    font-family: 'Lato', sans-serif;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-style: normal;
    line-height: normal;
    font-size: 24px;
    color: #FFFFFF;
}