.read-navbar {
    height: 70px;
    width: 100%;
    background: #F2F4F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: none;
    margin: 0px;
}
.navbar-nav {
    float: left;
    margin: 0;
    width: 100%;
}
.read-book-contents-btn {
    background: #85A64B;
    width: 325px;
    height: 40px;
    padding-left: 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    border: none;
    box-shadow: 0px 3px #627B37;
}
.read-right-navs {
    margin-left: 600px;
}
.read-book-close {
    width: 100px;
    height: 40px;
    padding-left: 17px;
    margin-left: 465px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    background: #85A64B;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 3px #627B37;
}
.read-book-close > img {
    height: 85%;
    margin-left: 10px; 
}
.read-navbar h5 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 33px;
    width: 607px;
    margin-right: 340px;
    color: #7E9E47;
}
.read-header-content-positon {
    margin-left: 15px;
    margin-right: 280px;
}

    /* Responsiveness */

@media (min-width: 250px){
.read-book-close {
        display: none;
        /* width: 51px;
        height: 22px;
        padding: 2px 8px 8px 3px;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        background: #85A64B;
        color: #FFFFFF;
        border: none;
        -webkit-box-shadow: 0px 3px #627B37;
        box-shadow: 0px 3px #627B37; */
    }
.read-book-close > img {
        height: 85%;
        margin-left: 5px;
    }
.read-book-contents-btn {
        width: 66px;
        height: 22px;
        padding: 3px 8px 8px 2px;
        font-size: 12px;
        
    }
.read-header-text-positon{
    width: inherit;
    }
.read-navbar h5 {
    font-size: 16px;
    width: 254px;
    margin-top: -7px;
    text-align: center;
}
.read-navbar h6 {
    text-align: center;
}

.read-header-text-positon > [role=button] {
    cursor: pointer;
    width: inherit;
    margin-left: -34px;
    }
.read-header-content-positon {
    margin-left: -10px;
    margin-right: 0px;
    width: 88px;
    }
.navbar-nav li{
    display: inline-block;
    }

.library-in-image {
    width: 17px;
    height: 17px;
    margin-left: 1px;
    margin-right: 3px;
    margin-bottom: 1px;
    }
.nav-cancel{
    width: 65px;
    }
}
@media (min-width: 280px){
.read-book-close {
    width: 84px;
    height: 28px;
    padding: 3px 8px 8px 3px;
    font-size: 15px;
    margin-left: 80px;
    }
.read-header-text-positon{
        width: inherit;
    }
.read-header-text-positon > [role=button] {
        cursor: pointer;
        width: inherit;
        margin-left: -14px;
    }
}
@media (min-width: 321px){
.read-header-text-positon {
    width: inherit;
    }
.library-in-image {
    width: 20px;
    }
.read-header-text-positon > [role=button] {
    margin-left: 0px;
    }
.read-book-contents-btn {
    width: 84px;
    height: 28px;
    padding: 3px 8px 8px 2px;
    font-size: 15px;
    }
.read-book-close {
    width: 84px;
    height: 28px;
    padding: 3px 8px 8px 3px;
    font-size: 15px;
    margin-left: 80px;
    }
.read-book-close > img {
    height: 100%;
    margin-left: 9px;
        }
}

@media (min-width: 420px){
.read-header-text-positon {
    width: 233px;
    }
.read-header-text-positon h5 {
    font-size: 17px;
    width: 100%;
    }
.read-book-contents-btn {
    width: 100px;
    height: 30px;
    padding: 5px 8px 8px 2px;
    font-size: 15px;
    }
.library-in-image {
    width: 30px;
    height: 23px;
    margin-left: 1px;
    margin-right: 7px;
    margin-bottom: 1px;
    }
    .read-header-text-positon > [role=button] {
        margin-left: 27px;
        width: 336px;
    }
}

@media (min-width: 500px){
    
    .read-header-text-positon {
        width: 315px;
    }
    .read-header-text-positon > [role=button] {
        margin-left: 115px;
    }
    .read-book-close {
        margin-left: 127px;
    }
}

@media (min-width: 615px){
    .read-book-contents-btn {
        background: #85A64B;
        width: 140px;
        height: 40px;
        padding-left: 0px;
        color: #FFFFFF;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        border: none;
        box-shadow: 0px 3px #627B37;
    }
    .read-book-close {
        width: 100px;
        height: 40px;
        padding: 7px 8px 8px 3px;
        font-size: 18px;
        margin-left: 127px;
        font-family: 'Lato', sans-serif;
        background: #85A64B;
        color: #FFFFFF;
        border: none;
        box-shadow: 0px 3px #627B37;
    }
    .read-book-close > img {
        height: 85%;
        margin-left: 10px; 
    }
    .read-navbar h5 {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 22px;
        margin-right: 340px;
        color: #7E9E47;
    }
    .read-header-text-positon > [role=button] {
        margin-left: 40px;
        width: 568px;
    }
    .read-header-content-positon {
        margin-left: 15px;
        margin-right: 70px;
    }
}

@media (min-width: 668px){
    .read-book-close {
        margin-left: 150px;
    }
}

@media (min-width: 712px){
    .read-header-content-positon {
        margin-left: 0;
        margin-right: 183px;
    }
    .read-header-text-positon > [role=button] {
        margin-left: 5px;
    }
    .read-book-close {
        margin-left: 250px;
        display: block;
    }
}

@media (min-width: 811px){
    .read-book-close {
        margin-left: 250px;
    }
}

@media (min-width: 992px){
    .read-book-close {
        margin-left: 450px;
    }
}

@media (min-width: 1200px){
    .read-book-close {
        margin-left: 617px;
    }
}