.sign-up-background {
    background-color: #E5E5E5;
    margin-top: -20px;
    height: 800px;
    margin: -20px;
    padding-top: 100px;
}
.jumbo {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    color: inherit;
    background-color:white;
    height: 556px;
    width: 348px;
    padding-left: 10px;
    padding-right: 10px;
}
.jumbo input {
    border: none;
    box-shadow: none;
    border-radius: none;
    border-bottom: 1px solid black;
    margin-top: 40px;
}
.jumbo p {
    font-size: 12px;
    text-align: center;

}
.jumbo h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
}
.jumbo img {
    margin-left: 116px;
    margin-top: -10px;
    height: 69px; 
    width: 97px;
}
.btn .btn-default {
    background-image: none;
    background-color: aqua;
    margin: auto;
}
.btn-get-started {
    background-color: #85A64B;
    background-image: none;
    border: #85A64B;
    width: 217px;
    height: 30px;
    margin-left: 70px;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
}
.notify {
    height: inherit;
    width: 31px;
    background-color: #627B37;
    border-radius: 3px;

}
.sign-up-message {
    width: 236px;
    height: 60px;
    margin: auto;
    background-color: #FFFFFF;
    border: 1px solid #7E9E47;
    border-radius: 3px;
}
.sign-up-text p {
    font-size: 10px;
}
.input-rows {
    margin: -25px 0px 0px 45px;
    width: 236px;
}
.input-styles {
    border-radius: 0px;
    background: none;
}
.input-styles::placeholder {
    font-family: 'Lato', sans-serif;
}
.p {
    font-family: 'Lato', sans-serif;
}