@font-face {
    font-family: GoodDogCool;
    src: url(Assets/GoodDogCool.woff);
}
.affia-header {
    margin-top: -20px;
    height: 305px;
    text-align: center;
    background-image: url("./Assets/AffiaMmutaWelcome.jpg");
    background-position: center;
}
.affia-header h3 {
    font-size: 70px;
    color: white;
    font-family: GoodDogCool;
}
.affia-header p {
    font-size: 24px;
    color: white;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}
.get-btn {
    width: 250px;
    height: 40px;
    border-radius: 3px;
    background-image: none;
    background-color: #85A64B;
    border: #85A64B;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.25);
    color: #E5E5E5;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}
